* {
    margin: 300;
    padding: 100;
    box-sizing: border-box;
    list-style: none;
}

   body {
       background-color: yellow;
       /* background-image: url("https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg");
       background-repeat: no-repeat;
       background-size: cover;
       opacity: 0.5; */
       
   }

   h1{
       text-align: center;
       font-family: 'Ranchers', cursive;
   }

   form#nootropics-form label {
       margin-top: 20px;
       display: inline-block;
       clear: left;
       float: left;
       width: 100px;
   }
  form#nootropics-form input{
        margin-top: 20px;
        display: inline-block;
        float: left;
        
  } 
   div#sub-btn {
      float: clear;
      text-align: center;
  }

  /* .videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0:
}
.videoWrapper iframe{
    display: block;
    margin: auto;
    padding: 100px;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
}  */
