<!DOCTYPE html>
<html lang="en">
  
  <body>
    
    <div class="container">
      <h1>All Nootropics</h1>
      <a href="/">Go Back Home</a>
      <a href="/nootropics/new">Add a new nootropic</a>
      <ol>
        <% nootropics.forEach(function(nootropic) { %>
        <li>
          <a href="/nootropics/nootropic/<%= nootropic._id %>">
            <%= nootropic.name %> Description: <%= nootropic.description %>
          </a>
        </li>
        <% }); %>
      </ol>
    </div>
    
  </body>
</html>