<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <h1>Nootropics index page</h1>
  <% nootropics.forEach((n) => {%>
    <p>Name: <%=n.name%></p>
    <p>Category: <%=n.category%></p>
    <a href="/nootropics/new/">DETAILS</a>
  <%}); %>

</body>

</html>