<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/style.css">
  <title></title>
</head>

<body>
  <h1>New Nootropics Page</h1>
  
  <form id="nootropics-form" action="/nootropics" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name" /> 
    
    <label for="category">Category:</label>
    <input type="text" name="category" /> 
    <div id="sub-btn"> 
      <input type="submit" value="Create Nootropics" />
   </div>
   
   <div class="videoWrapper">
   <iframe width="560" height="315" src="https://www.youtube.com/embed/4TLppsfzQH8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   </div>

  </form>
  
    
    </body>
</html>