<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/style.css">
  <title></title>
</head>

<body>
  <h1>New Nootropics Page</h1>
  
  <form action="/nootropics" method="POST">
    
    Name: <input type="text" name="name" /><br />
    Category: <input type="text" name="category" /><br />
   <input type="submit" value="Create Nootropics" />
   <a href="/nootropics/">Details</a>
  </form>
  
    
    </body>
</html>