<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/style.css">
  <title></title>
</head>

<body>
  <h1>Nootropics show page</h1>
  The <%=nootropic.name; %> is <%=nootropic.color; %>.
  <% if(nootropic.readyToEat === true){ %>
  It is ready to eat
  <% } else { %>
  It is not ready to eat
  <% } %>
  
  <nav>
    <a href="/nootropics">Back to Nootropics Index</a>
  </nav>
</body>

</html>